*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --maincolor : #1d3670;
    --logoright : #6363db;
    --logoleft :  #040b4e;
    --text : #6363db;
}
.darktheme{
    --maincolor : #000;
    --logoright : #515160;
    --logoleft :  #3c3232;
    --text : #000
}
.nanv{
    background-color: var(--maincolor);
}
a{
    color: black !important;
    
}
button{
    background-color: black !important;
    
}
.logo{
    margin: auto 0;
    display: flex;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #d2d6fd;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #565d9b;
    font-size: 2vh;
    transition: 1s;
}
.logo::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-color: var(--logoright) var(--logoright) var(--logoleft) var(--logoleft);
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    transition-duration: 2s;

}
.logo:hover::after{
    transform: rotate(1turn);
    border-color: #3795BD #3795BD #261e3b #261e3b;
}
.logo:hover{
    color: #3795BD;
    background-color: #0C134F;
}
.navo li{
    margin-right: 10px;
}
.sign-in,
.sign-up {
    
    background-color: var(--logoright);
    border-radius: 2px;
}
.sign-in:hover{
    background-color: #565d9b;
}
.sign-up:hover{
    background-color: #565d9b;
    color: white !important;
}
.sign-in:hover a{
    color: antiquewhite !important;
}
.sign-up:hover a{
    color: white !important;
}
#home{
    background-color: var(--logoright);
}
#home:hover a {
    color: white !important;
    background-color: #565d9b;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(quiz-questions-answers-1669651278.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(7px);
    
}
.text{
    backdrop-filter: blur(15px);
    background-color: rgba(36, 45, 86, 0.592); 
    color: rgb(215, 228, 228);
    font-weight: bold;
    border: 3px solid var(--logoright);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 3vh;
    transition: 1s;
}
.text:hover{
    border-color: var(--logoleft);
    box-shadow: 3px 3px 1px 1px var(--maincolor) , -3px -3px 1px 1px var(--maincolor);
}
.text p span{
    font-size: 3.6vh;
    color: var(--text);
}
#darkmodebtn{
    padding: 4px;
}
#darkmode{
    width: 30px;
}
.boxdark{
    filter: grayscale(50%) blur(10px);
}
@media(min-width: 200px)and (max-width: 770px){
    .navo li{
        text-align: center;
        background-color: transparent !important;
        
    }
    .navo li:hover{
        background-color: #3795BD !important;
    }
    .navo li:hover a{
        color: white !important;
    }
    .text{
        margin-top: 40px;
    }
    #darkmodebtn{
        display: none;
    }
}